html,
body {
    height: 100%;
}

body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #0062cc;
    overflow: hidden;

    #wizard-button {
        position: absolute;
        top: 15px;
        right: 15px;
        z-index: 10000;
    }
}

#wait {
    background: rgba(255,255,255,0.3);
    display: none;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000000;

    i {
        font-size: 6rem;
        color: white;
        text-shadow: 0px 0px 16px rgba(0,0,0,0.5);
    }
}

body.waiting {
    #wait {
        display: flex;
    }
    .waitable {
        filter: blur(2px);
    }
}

#weather {
    z-index: 1;
    top: 0;
    bottom: 0;

    &, #sky, #floor {
        position: absolute;
        left: 0;
        right: 0;
        z-index: 2;
        overflow: hidden;

        color: white;
    }

    #sky, #floor {
        display: -ms-flexbox;
        display: flex;
        flex-flow: row nowrap;
        -ms-flex-align: center;
        justify-content: space-around;
    }

    #sky {
        top: 0;
        align-items: baseline;
        font-size: 5em;
    }

    #floor {
        bottom: 0;
        align-items: center;    
        font-size: 3em;
    }
}


.blockwrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    display: -ms-flexbox;
    display: flex;

    transition: 1s ease-in-out;

    &.side-left {
        transform: translateX(-100%);
    }
    &.side-right {
        transform: translateX(100%);
    }
    z-index: 10;

    &#welcomewrapper {
        -ms-flex-align: center;
        align-items: center;
        justify-content: center;

        #air {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 2;
            overflow: hidden;
    
            color: white;

            svg {
                top:-100px;
                left:0px;
                position:absolute;

                -webkit-animation: spin 10s infinite linear;
                -moz-animation: spin 10s infinite linear;
                animation: spin 10s infinite linear;
        
                path {
                    stroke: white;
                    stroke-width: 5px;
                }
            }

        }
    }

    &#panelwrapper {
        flex-flow: row nowrap;
        -ms-flex-align: center;
        align-items: center;
        justify-content: center;

        padding: 1rem;

        > *:not(:last-child) {
            margin-right: 1rem;
        }
        #snowflake-viewer-container
         {
            display: flex;
            flex-grow: 1;
            align-self: normal;

            flex-flow: column nowrap;
            -ms-flex-align: center;
            align-items: center;
            justify-content: center;

            #snowflake-viewer.spin > * {
                -webkit-animation: spin 20s infinite linear;
                -moz-animation: spin 20s infinite linear;
                animation: spin 20s infinite linear;
            }

            svg {
                width: 100%;
                height: 100%;
                
                path {
                    stroke: white;
                }
                &.stroke-particle-1 path {
                    stroke-width: 0.1;
                }
                &.stroke-particle-2 path {
                    stroke-width: 0.9;
                }
                &.stroke-particle-3 path {
                    stroke-width: 1.3;
                }
        
                circle {
                    fill: white;

                }
            }
        }
    }

    .blockcontainer {
        padding: 1rem;
        border-radius: 8px;
        background: rgba(255,255,255,0.9);
        box-shadow: 0px 9px 25px 0px rgba(50, 50, 50, 0.75);

        &#welcomecontainer {
            width: 100%;
            max-width: 430px;
            position: relative;
            z-index: 4;
        }

        &#panelcontainer {
            max-width: 320px;

            .panel-header {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                margin-bottom: 1rem;

                > *:not(:first-child) {
                    margin-left: 1rem;
                }
            }

            .details-legend {
                display: -ms-flexbox;
                display: flex;
                flex-flow: row nowrap;
                -ms-flex-align: center;
                align-items: center;
                justify-content: space-between;
                font-size: 0.8em;
                color:gray;
            }

            #particleCountContainer {
                margin-top: 0.5rem;
                font-size: 0.9rem;
                text-align: center;
            }
        }
    }
}



.sg-logo-icon {
    margin: auto;

    width: 72px;
    height: 72px;
    background-color: #0062cc;

    color: white;
    border-radius: 12px;

    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;

    i {
        display: block;
        margin: auto;
        font-size: 56px;
    }
}

.sg-logo {
    display:flex;
    flex-flow: row nowrap;
    align-items: center;

    .sg-logo-name {
        font-size: 1.4rem;
        font-weight: 500;
        margin-left: 0.4rem;
        flex-grow: 1;
        line-height: 1.4rem;
        flex-shrink: 2;
    }

    .sg-logo-icon {
        width: 3rem;
        height: 3rem;
        margin-left: 0;
        flex-shrink: 0;
        i {
            font-size: 32px;
        }
    }
}

.form-group {
    > label:first-child {
        font-size: 0.8rem;
        font-weight: 500;
        margin-bottom: 0;
    }
}

/** snowfall animation **/
@keyframes snowfall {
    0% {
        opacity: 0;
        -webkit-transform: translate(0, 0vh) rotateZ(0deg);
    }

    25% {
        opacity: 1;
        -webkit-transform: translate(0, 25vh) rotateZ(90deg);
    }

    75% {
        opacity: 1;
        -webkit-transform: translate(5vw, 75vh) rotateZ(270deg);
    }

    100% {
        opacity: 0;
        -webkit-transform: translate(10vw, 100vh) rotateZ(360deg);
    }
}

/** spin animation **/
@keyframes spin {
    0% {
        -webkit-transform: rotateZ(0deg);
    }

    25% {
        -webkit-transform: rotateZ(90deg);
    }

    75% {
        -webkit-transform: rotateZ(270deg);
    }

    100% {
        -webkit-transform: rotateZ(360deg);
    }
}